<h1>Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= event.title %>
    </li>
  <% end %>
</ul>
                                   
<%=link_to 'logout', destroy_user_session_path,data: { turbo_method: :delete } %><br>