<h1>All Events From All Users</h1>

<%  if user_signed_in? %>
    <h3>Current User: <%= current_user.email%> </h3>
<% else %>
    <h3>Logged out (login to view details)</h3>
<% end %>

<h2> Past Events </h2>
<ul>
  <% @past_events.each do |event| %>
    <li>
        <%= link_to event.title,event_path(event) %>
    </li>
  <% end %>
</ul>

<h2> Upcoming Events </h2>
<ul>
  <% @upcoming_events.each do |event| %>
    <li>
       <%= link_to event.title,event_path(event) %>
    </li>
  <% end %>
</ul>
                                   


