<h1>New Article Form</h1>

<%= render partial: "event_form", locals: {event: @event} %>

<%=link_to 'logout', destroy_user_session_path,data: { turbo_method: :delete } %><br><br>
<%= link_to 'user created events',user_path(current_user) %>