<%= render partial: "event_details", locals: {event: @event} %>

<% if current_user != @event.creator%>
    <% unless @event.attendees.include?(current_user) %>
        <%= render partial: "become_attendee_form", locals: {event: @event} %>
    <%else%>
        <p>you (<%=current_user.email%>) are already attending this event </p>
    <% end %>
<% else %>
     <%= link_to "Update event details", edit_event_path(@event) %> <br><br>
<% end %>
